
// .logo {
//     height:80%;
//     padding-right: 5px;
// }

.header {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding-bottom: 64px;
}

.header-offset {
    height: 64px;
}