/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Nunito');
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$primary: mat-palette($mat-indigo, 900, 100, 900);
$accent: mat-palette($mat-teal, 500, 100, 900);
$warn: mat-palette($mat-red, 600, 100, 900);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

.mat-toolbar {
    background-color: black;
    box-shadow: none;
}
//override main toolbar
.mat-toolbar.mat-primary {
    background-color: black;
}

.mat-icon.mat-icon-logo {
    height: 45px;
}

// gatekeeper text
.mat-toolbar span span {
    font-size: 45px;
}

$typography: mat-typography-config(
  $font-family: 'Nunito,sans-serif',
  $headline: mat-typography-level(32px, 48px, 700)
);

@include mat-core($typography);

.mat-drawer-container {
    background-color: #b0bdc5;
}

html, body {
    margin: 0;
    height: 100%;
}

div .mat-horizontal-content-container {
  height: 100% !important;
}