<div [fxLayout]="'column'" [fxLayoutAlign]="'center center'" fxFill>
  <mat-card class="request-card" [fxFlex]="'65%'">
    <div class="gk-stepper-container" [fxLayout]="'row'">
      <mat-horizontal-stepper #stepper fxFill>
        <mat-step #step 
          label="What do you need Access to?" 
          sublabel="EC2 or RDS" 
          active="true"
          state="none"
          disabled="false">
          <div layout="row">
            <app-resource fxFill></app-resource>
          </div>
        </mat-step>
        <mat-step #step 
          label="Select Users" 
          sublabel="Who needs access?" 
          active="false"
          state="none"
          disabled="false">
          <div layout-fill>AD Search goes here</div>
        </mat-step>
        <mat-step #step 
          label="Select Instances" 
          sublabel="What do you need access to?" 
          active="false"
          state="none"
          disabled="false">
          <div>Resource Search goes here</div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step #step 
          label="Choose Length of Time" 
          sublabel="For how long do you need access?" 
          active="false"
          state="none"
          disabled="false">
          <div>Length of access goes here</div>
        </mat-step>
        <mat-step #step 
          label="Justification" 
          sublabel="This request requires approval, please provide justification" 
          active="false"
          state="none"
          disabled="false">
            <div>Length of access goes here</div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
    <div [fxLayout]="'column'">
      <div class="gk-request-step-btn" [fxLayout]="'row'" [fxLayoutAlign]="'end center'" [fxLayoutGap]="'5px'" >
        <button color="accent" mat-raised-button (click)="goBack(stepper)">Previous</button>
        <button color="primary" mat-raised-button (click)="goNext(stepper)">Next</button>
      </div>
    </div>    
  </mat-card>
</div>