<mat-card>
  <td-steps (stepChange)="stepChanged($event)" mode="vertical">
    <td-step #step 
      label="What do you need Access to?" 
      sublabel="EC2 or RDS" 
      active="true"
      state="none"
      disabled="false">
      <ng-template td-step-actions>
        <div>Select EC2 or RDS goes here</div>
      </ng-template>
    </td-step>
    <td-step #step 
      label="Select Users" 
      sublabel="Who needs access?" 
      active="false"
      state="none"
      disabled="false">
      <ng-template td-step-actions>
        <div>AD Search goes here</div>
      </ng-template>
    </td-step>
    <td-step #step 
      label="Select Instances" 
      sublabel="What do you need access to?" 
      active="false"
      state="none"
      disabled="false">
      <ng-template td-step-actions>
        <div>Resource Search goes here</div>
      </ng-template>
    </td-step>
    <td-step #step 
      label="Choose Length of Time" 
      sublabel="For how long do you need access?" 
      active="false"
      state="none"
      disabled="false">
      <ng-template td-step-actions>
        <div>Length of access goes here</div>
      </ng-template>
    </td-step>
    <td-step #step 
      label="Justification" 
      sublabel="This request requires approval, please provide justification" 
      active="false"
      state="none"
      disabled="false">
      <ng-template td-step-actions>
        <div>Length of access goes here</div>
      </ng-template>
    </td-step>
  </td-steps>
</mat-card>