.cntr-btn {
    height: 200px;
}

.gk-resource-button {
    font-size:48px;
    width:300px;
}
resource-button {
    width: 50% !important;
    height: 50% !important;
}

mat-icon {
    font-size: 200px;
    height: 200px;
    width: 200px;
    line-height: 200px;
}