.gk-cntr-sidenav {
  background-color: #000000;
  color: #ffffffde;
  width: 100px !important;
  font-family: Nunito,sans-serif;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  font-stretch: normal;
}

.gk-main-view {
  background-color: #b0bdc5;
}

.gk-logo {
  margin-top: 15px;
  height: 47px;
  width: 47px;
}